{% extends 'sis/base.html' %}
{% load staticfiles %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/sankalp.css' %}">
{% endblock %}
{% block content %}
<nav class="a1">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Club</a></li>
        <li><a href="#">Hostel</a></li>
        <li><a href="#">Suggestions and Complaints</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </nav>
  
<!--// sankalp add content here-->
<!--//START-->



<!--//END-->
{% endblock %}